
.banner{
    width: 1440px;
    height: 600px;
    background-color: #A1E2EB;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 104px;
    color: white;
    width: 540px;
    height: 104px;
    align-self: flex-start;
    margin-top: 130px;
    margin-left: 50px;
    margin-bottom: 3px;
}

.banner_title2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    line-height: 82px;
    color: white;
    align-self: flex-start;
    margin-top: 237px;
    margin-left: 50px;
    position: absolute;
}

.banner_button1{
    width: 245px;
    height: 82px;
    top: 0;
    border-radius: 13px;
    border: none;
    color: #2D2D2D;
    background-color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    position: absolute;
    margin-top: 379px;
    margin-left: 51px;
    cursor: pointer;
}

.banner_button2{
    width: 245px;
    height: 82px;
    top: 0;
    border-radius: 13px;
    border: 2px solid white;
    color: white;
    background-color: #A1E2EB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    position: absolute;
    margin-top: 379px;
    margin-left: 332px;
    cursor: pointer;
}

.subtitle_categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 386px;
    height: 52px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.subtitle_categories-black{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 3%;
}

.subtitle_button{
    width: 120px;
    height: 31px;
    border: 2px solid #8B8B8B;
    color: #8B8B8B;
    background-color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 3%;
    cursor: pointer;
}

.categories-fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 393px;
    gap: 32px;
    width: 1378px;
    margin-bottom: 112px;
}

.categories-fotos>div{
    width: 318px;
    height: 350px;
    border: 2px solid black;
}

.promo_actions-fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 366px;
    gap: 35px;
    width: 1024px;
    margin-bottom: 171px;
}

.promo_actions-fotos>div{
    width: 318px;
    height: 366px;
    border: 2px solid black;
    margin-bottom: 170px;
}

.discount_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 476px;
    background-color: #339933;
    margin-bottom: 49px;
}

.gnome_pic{
    width: 422px;
    height: 422px;
    margin-top: 27px;
    margin-left: 91px;
    margin-bottom: 27px;
}

.discount_input_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 44px;
    margin-right: 152px;
    width: 575px;
    height: 387px;
}

.discount_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    letter-spacing: 3%;
    color: white;
}

.discount_title2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 3%;
    color: white;
    margin-bottom: 46px;
}

.input_phone{
    width: 473px;
    height: 75.5px;
    border: none;
    border-radius: 25.15px;
    background-color: white;
    color: #6C6C6C;
    margin-bottom: 30.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 3%;
}

.discount_button{
    width: 473px;
    height: 75.5px;
    border: 2.4px solid white;
    border-radius: 25.15px;
    background-color: #339933;
    color: white;
    margin-bottom: 45.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 28.74px;
    line-height: 34.5px;
    letter-spacing: 3%;

}