*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.promo_action-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: normal;
    color: black;
    margin-bottom: 21px;
    margin-left: 30px;
}

.promo_actions-fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 366px;
    gap: 35px;
    width: 1024px;
    margin-bottom: 171px;
    margin-left: 30px;
}

.promo_actions-fotos>div{
    width: 318px;
    height: 366px;
    border: 2px solid black;
    margin-bottom: 170px;
}